*{
    margin: 0;
    padding: 0;
}

html{
    scroll-behavior: smooth;
}

/* CSS Variables */
:root{
    --navbar-height:20px;
}

/* Navigation Bar */
#navbar{
    display: flex;
    align-items: center;
    position: sticky;
    top: 0px;

}

#navbar::before{
    content: "";
    background-color: black;
    position: absolute;
    top: 0px;
    left: 0px;
    height: 92%;
    width: 100%;
    z-index: -1;
    opacity: 0.7;
}

/* Navigation Bar : Logo and Image */
#logo{
    margin: 34px 45px;
}
#logo img{
    height: 59px;
    margin: -22px 6%;

}
/* Navigation Bar : List Styling */
/* #navbar{
    position: relative;
} */
#navbar ul{
    display: flex;
    font-family: 'Baloo Bhai', cursive;
}

#navbar ul li{
    list-style: none;
    font-size: 1.3rem;
}

#navbar ul li a{
    color: white;
    display: block;
    padding: 3px 22px;
    border-radius: 20px;
    text-decoration: none;
}

#navbar ul li a:hover{
    color: black;
    background-color: white;
}

/* Home Section */
#home{
    display: flex;
    flex-direction: column;
    padding: 3px 200px;
    justify-content: center;
    align-items: center;
    height: 441px;

}

#home::before{
    content: "";
    background: url(../Background.jpg) no-repeat center center/cover;
    position: absolute;
    top: 0px;
    left: 0px;
    height: 533px;
    width: 100%;
    z-index: -1;
    opacity: 0.89;

}

#home h1{
    color: white;
    text-align: center;
    font-family: 'Bree Serif', serif;

}
#home p{
    color: white;
    text-align: center;
    font-size: 1.5rem;
    font-family: 'Bree Serif', serif;
}

/* Services Section */

#services{
    margin: 0px 57px;
    display: flex;
}

#services .box{
    border: 2px solid brown;
    padding: 34px;
    margin: 25px 6px 75px;
    border-radius: 28px;
    background-color: #f2f2f2;
    margin-bottom: 20px;
}

#services .box img{
    height: 160px;
    margin: auto;
    display: block;
}

#services .box p{
    font-size: 'Bree Serif', serif;

}
/* Clients Section */
#client-section{
    /* height: 344px; */
    margin-top: 61px;

}

#client-section::before{
    content: "";
    position: absolute;
    background: url(../Clients\ Background\ Image.jpg);
    width: 100%;
    height: 37%;
    z-index: -1;
    opacity: 0.7;
}

.client-item{
    padding: 34px;
}
#clients{
    display: flex;
    justify-content: center;
    align-items: center;
}

#clients img{
    height: 124px;
}

/* Contact Section */
#contact-section{
    position: relative;
    margin-top:-22px ;

}

#contact-section::before{
    content: "";
    position: absolute;
    background: url(../Contact\ Background.jpeg) no-repeat center center/cover ;
    width: 100%;
    height: 100%;
    z-index: -1;
    opacity: 0.7;
    
}

#contact-box{
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 34px;
}
#contact-box input,
#contact-box textarea{
    width: 100%;
    padding: 0.5rem;
    border-radius: 9px;
    font-size: 1.1rem;
}

#contact-box form{
    width: 40%;
}

#contact-box label{
    font-size: 1.3rem;
    font-family: 'Bree Serif', serif;

}
footer{
    background: black;
    color: white;
    padding: 9px 20px;
}
/* Utility Classes */
.h-primary{
    font-size: 'Bree Serif', serif;
    font-size: 3.8rem;
    padding: 13px;
}

.h-secondary{
    font-size: 'Bree Serif', serif;
    font-size: 2.3rem;
    padding: 12px;

}

.btn{
    padding: 6px 20px;
    border: 2px solid white;
    background-color: brown;
    color: white;
    margin: 17px;
    font-size: 1.5rem;
    border-radius: 10px;
    cursor: pointer;
}
.center{
    text-align: center;
}